/*Reset CSS */
/* This file resets default browser styles to ensure consistency across different browsers */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: none;    
    box-sizing: border-box;
    
}  